<html lang="en">

<head>
  <div th:insert="~{fragments/header :: head}"></div>
</head>

<body>
  <div id="app">
    <!-- insert navbar from thymeleaf nav fragment -->
    <div th:insert="~{fragments/navbar :: nav}"></div>

    <div class="row mt-5">
      <!-- insert navbar from thymeleaf sidebar fragment -->
      <div th:insert="~{fragments/sidebar :: sidebar}"></div>
      <main class="col-md-8 ms-sm-auto col-lg-9 px-md-4">
        <h1> here is settings content </h1>
      </main>
    </div>
  </div>
  <script src="/javascript/dashboard_settings.js"></script>
</body>
<!--加载session数据-->
<script th:inline="javascript">
  /*<![CDATA[*/
  var session = /*[[${session}]]*/ 'default';
  var projects = /*[[${projects}]]*/'default';
  console.log((projects))
  /*]]>*/
</script>
</html>