<html lang="en">

<head>
	<!-- insert head from thymeleaf header fragment -->
	<div th:insert="~{fragments/header :: head}"></div>
	<script src="/javascript/project_detail_map.js"></script>
</head>

<body>
<div id="app">

	<!-- insert navbar from thymeleaf nav fragment -->
	<div th:insert="~{fragments/navbar :: nav}"></div>

	<div class="container">
		<div class="text-center mt-5">
			<h2 class="my-2 py-5 text-success">{{project.title}}</h2>
		</div>
		<div class="row row-cols-1 row-cols-sm-2">
			<!--left side : a image-->
			<div class="col">
				<div class="card">
					<img :src="'data:image/*;base64,' + project.img" class="card-img">
					<div class="card-img-overlay">
					</div>
				</div>
			</div>

			<!--right side : detail info-->
			<div class="col">
				<div class="card">
					<div class="card-body">
						<!--<div class="row">-->
						<!--	<div class="col">-->
						<h3>Description: </h3>
						<a id="share" @click="shareLink(project.id)" class=" btn text-white bi-whatsapp"
						   style="background:darkseagreen">Share</a>
							<!--</div>-->
							<!--<i class="bi bi-share text-success">-->
							<!--</i>-->
						<!--</div>-->
						<p id="content">{{project.content}}</p>
					</div>
					<div>
						<ul class="list-group list-group-flush">
							<!--Position-->
							<li class="list-group-item">Position :{{project.positionName}}</li>
							<!--Progress-->
							<li class="list-group-item">
								Progress:
								<div class="progress mt-1">
									<div class="progress-bar" role="progressbar"
									     v-bind:style="{width: project.progress + '%'}"
									     v-bind:aria-valuenow="project.progress" aria-valuemin="0" aria-valuemax="100">
										{{project.progress}}%
									</div>
								</div>
							</li>
							<!--Charity-->
							<li class="list-group-item">
								Charity: {{project.user.charityName}}
							</li>
							<!--Price-->
							<li class="list-group-item">
								<p>Price: <small class="display-6 text-primary fw-bold"
								                 id="price">{{project.price}} {{project.currency}}</small>
									<small class="display-6 text-primary fw-bold">/meal</small>
								</p>
								<p hidden id="currency">{{project.currency}}</p>
							</li>
						</ul>
					</div>
					<div class="card-footer">
						<form class="d-flex justify-content-between" th:action="@{'/projects/' + ${project.id}}"
						      th:method="delete">
							<div v-show="loginState" class="btn-group">
								<a th:href="@{'/projects/update/' + ${project.id}}"
								   class="btn btn-warning w-20">Edit</a>
								<input type="submit" value="delete" class="btn btn-danger w-20"/>
							</div>
							<div class="btn-group">
								<a th:href="@{/donate/(id=${project.id})}" class="btn btn-success w-20">Donate</a>
								<a th:href="@{/billing/(id=${project.id})}" class="btn btn-success w-20">Subscribe</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="container bg-light">
		<div class="text-center">
			<h2 class="my-3 text-success">Where is the {{project.positionName}}</h2>
		</div>
		<div id="map" style="height: 300px; width: 100%;"></div>
	</div>

	<!-- insert footer from thymeleaf fragments -->
	<div th:insert="~{fragments/footer :: footer}"></div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // TODO: null excpetion when session is not set?
    var session = /*[[${session}]]*/ 'default';
    var project = /*[[${project}]]*/'default';
    var loginState = ""
    if (session) {
        loginState = session.SPRING_SECURITY_CONTEXT.authentication.authenticated
    } else {
        loginState = false
    }
    /*]]>*/
</script>
<script src="/javascript/money.js"></script>
<script src="/javascript/currencyEX.js"></script>
<script src="/javascript/project_detail.js"></script>
<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5QZ8Ze04-faOyB8kHs0rb9bd6Cmn7NCU&callback=initMap&v=weekly"
		async></script>
</body>

</html>