<html lang="en">

<head>
	<!-- insert head from thymeleaf header fragment -->
	<div th:insert="~{fragments/header :: head}"></div>
</head>

<body>

	<div id="app">
		<!-- insert navbar from thymeleaf nav fragment -->
		<div th:insert="~{fragments/navbar :: nav}"></div>

		<section id="projects">
			<div class="container">
				<p class="mt-5 text-white"> top </p>

				<input v-model="term" class="form-control form-control-dark w-100" type="text" placeholder="Search the project"
					aria-label="Search">
				<a v-if="loginState" href="/projects/add" class="btn btn-warning mb-2 text-white text-decoration-none mt-1 ">
					<strong>Create Project</strong>
				</a>
				<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4">

					<!--     For each project     -->
					<div class="col" v-for="project in filteredProjects">
						<div class="card m-2 h-100">

							<img :src="'data:image/*;base64,' + project.img" alt="" class="card-img-top">
							<div class="card-body">
								<h5 class="card-title">{{project.title}}</h5>
								<p class="card-text">{{project.content.slice(0,150)}}...</p>
								<a :href="'/projects/'+project.id" class="stretched-link"></a>
							</div>
							<div class="card-footer bg-white border-0">
								<a :href="'/projects/'+project.id" class="btn btn-primary stretched-link"> Details</a>
							</div>
						</div>
					</div>

					<!-- <div class="col" th:each="project: ${projects}">
						<div class="card m-2 h-100">
							<img th:src="*{'data:image/*;base64,' + {project.img}}" class="card-img-top">
							<div class="card-body">
								<h5 class="card-title" th:text="${project.title}"></h5>
								<p class="card-text" th:text="${project.content.slice(0,150)}"></p>
								<p class="card-text" th:text="${project.content}"></p>
							</div>
							<div class="card-footer bg-white border-0">
								<a href="/detail" class="btn btn-primary stretched-link">Donate Now</a>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</section>
		<!-- insert footer from thymeleaf fragments -->
		<div th:insert="~{fragments/footer :: footer}"></div>
	</div>
	<style>
		.card-footer {
			z-index: 20;
		}
	</style>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var session = /*[[${session}]]*/ 'default';
		var projects = /*[[${projects}]]*/'default';
		var loginState = ""
        if(session){
            loginState = session.SPRING_SECURITY_CONTEXT.authentication.authenticated
        }else{
            loginState = false
        }
    /*]]>*/
	</script>
	<script src="/javascript/projects.js"></script>
</body>

</html>